@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@366.73&display=swap');

html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: black;
}

/* header */
header{
  position: fixed;
  top: 0;
  background: white;
  height: 90px;
  z-index: 9999;
}

nav{
  font-size: 12px;
  padding-top: 14px;
  display: flex;
  justify-content: space-between;
}

.left{
  display: flex;
  align-items: center;
}

.left img{
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.nav-options{
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bolder;
}

.container{
  padding: 0 10vw;
}

nav ul li{
  list-style: none;
  padding: 0 12px;
  margin-right: 15px;
  cursor: pointer;
}

nav ul li :hover{
  text-decoration: 2px solid blue overline;
  font-size: larger;
}

nav ul li a{
  text-decoration: none;
  color: black;
}


.right{
  display: flex;
  align-items: center;
}

.profile{
  display: flex;
  flex-direction: column;
  
}

.profile img{
  width: 25px;
  height: 25px;
  margin-left: 20px;
}

.Wishlist{
  display: flex;
  flex-direction: column;
  
}

.Wishlist img{
  width: 25px;
  height: 25px;
  margin-left: 20px;
}

.bag{
  display: flex;
  flex-direction: column;
  
}

.bag img{
  width: 25px;
  height: 25px;
  margin-left: 20px;
}

.text{
  font-weight: 600;
  margin-left: 20px;
}

.text:hover{
  text-decoration: 2px solid blue underline;
  font-size: larger;
  font-weight: bold;
  font-size: larger;
  cursor: pointer;
}

.search{
  width: 40vh;
  height: 50%;
  padding: 7px 17px;
  border: 0.5px solid grey;
  background: #f7f8fd;
  border-radius: 5px;
}

/* banners section */

/* .banners{
  background: #f2f2f2;
  height: 1000px;
} */

.banner1{
  margin-top: 70px;
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  contain: content;
}
.crazy-deals{
  max-height: fit-content;
  max-width: 100%;
}

.crazy-deals img{
  max-width: 100%
}

.crazy-deals-items{
  max-width: 100%;
  height: 366.73px;
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.item1{
  height: 366.73px;
  width: 250px;
  /* border: 2px solid black; */
}
.item2{
  height: 366.73px;
  width: 250px;
  /* border: 2px solid black; */
}
.item3{
  height: 366.73px;
  width: 250px;
  /* border: 2px solid black; */
}
.item4{
  height: 366.73px;
  width: 250px;
  /* border: 2px solid black; */
}
.item5{
  height: 366.73px;
  width: 250px;
  /* border: 2px solid black; */
}
.item6{
  height: 366.73px;
  width: 250px;
  /* border: 2px solid black; */
}

.item-img{
  max-height: 100%;
  max-width: 100%;
  align-items: center;
}

.banner3{
  max-height: fit-content;
  max-width: 100%;
}

.banner3 img{
  max-width: 100%
}


/* footer */

footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #f2f2f2;
  height: 380px;
}

.container1{
  height: 230px;
  width: 200px;
  /* border: 1px solid black; */
  /* display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; */
  margin-bottom: 50px;
}

.container1 p{
  font-weight: 700;
}

.container1 a{
  text-decoration: none;
  color: black;
  font-size: 12px;
}

.container1 a :hover{
  text-decoration: underline blue;
}

.container1 input{
  width: 200px;
  height: 30px;
  margin-bottom: 30px;
}

.original{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
}

i{
  font-size: 2rem;
  margin-right: 10px;
  cursor: pointer;
}

